.mainsite {
    background-image: url(img/bckMain.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    padding-bottom: 10rem;
    margin-top: auto;
    margin-bottom: auto;
}

.ycenter {
    margin-top: 10rem;
}

@media (min-width: 887px) {
    .mainsite {
        padding-bottom: 20rem;
    }
  }

@media (min-width: 1200px) {
.mainsite {
    padding-bottom: 25rem;
}
}


.hatsoszin {
    background-color: rgba(2, 194, 241, 0.74);
    border-radius: 5px;
    backdrop-filter: blur(10px);
}

.noblur {
    backdrop-filter: blur(10px);
}